extends ../views/layout/_layout.pug
		
block var
		- var title = ''
		- var bodyClass = ''
		
block main
	include ../components/Pages/Introduce/Introduce-1/Introduce-1
	include ../components/Pages/Introduce/Introduce-2/Introduce-2
	include ../components/Pages/Introduce/Introduce-3/Introduce-3
	include ../components/Pages/Introduce/Introduce-4/Introduce-4
	include ../components/Pages/Introduce/Introduce-5/Introduce-5
	include ../components/Pages/Introduce/Introduce-6/Introduce-6
	include ../components/Pages/Introduce/Introduce-7/Introduce-7
	include ../components/Pages/Introduce/Introduce-8/Introduce-8
	include ../components/Pages/Introduce/Introduce-9/Introduce-9
	include ../components/Pages/Introduce/Introduce-10/Introduce-10